html {
    background-image: url('src/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

body {
    margin: 0;
}

.opacity {
    background-color: black;
    position: absolute;
    z-index: -1;
    height: 4000px;
    width: 100%;
    opacity: 0.9;
}

.topnav {
    overflow: hidden;
    background-color: #F2A600;
    width: 100%;
}

.topnav a {
    float: left;
    color: #9E3B1B;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 16.66%;
}

.topnav a:hover {
    background-color: #FCF7E6;
    color: #AB3B5C;
}

.topnav a.active {
    background-color: #FCF7E6;
    color: #AB3B5C;
}

.jackpot {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.jp1 img {
    width: 73%;
}

.jp2 img {
    width: 64%;
}

.jp3 img {
    width: 54%;
}

.jp4 img{
    width: 100%;
}

.jp5 img {
    width: 14.5%;
}

.jp2 {
    margin-top: -12.3%;
}

.jp3 {
    margin-top: -14.2%;
}

.jp4 {
    margin-top: -26.6%;
    margin-left: 76%;
}

.jp5 {
    margin-top: -23.4%;
    margin-left: -72%;
}

.step {
    text-align: center;
}

.gameList {
    text-align: center;
    margin-top: 50px;
}

div.gallery img {
    width: 80%;
    height: auto;
}

.responsive {
    padding: 10px;
    float: left;
    width: 30%;
}

.responsive a img {
    margin-top: 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.gameListWord {
    margin-top: -15px;
}

.horizontalLine {
    border: white 1px solid;
    width: 570px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.about {
    margin: 40px 20px;
    text-align: justify;
}

.benefitImg {
    width: 100%;
    height: 164px;
}